*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #27272a;
}

.flex-container {
    display:flex;
    gap: 10px;
    background-color: blueviolet;
    height: 600px;
    flex-direction: row;
}

.flex-item {
    width: 200px;
    height: 200px;
    background: beige;
}